body {
    padding-left: 20px;
    padding-right: 20px;
    background: #0c1a32 !important;
}

#menu {
    background-color: #20304c;
    border-radius: 4px;
    display: flex;
    align-content: center;
    padding: 10px;
}

#coins-table {
    border-radius: 4px;
    background-color: #20304c;
}

#coins-table th, td {
    color: white;
    font-weight: bold;
}
#coins-table tr:hover {
    cursor: pointer;
    background-color: rgb(0, 45, 168);
}

#img-darkmode {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.button-link {
    background-color: rgba(70, 107, 228, 0.685);
    color: white;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 8px;
}

.button-link:hover {
    background-color: rgba(142, 163, 233, 0.685);
    color: white;
}

.button-link-active {
    background-color: orange;
}

.icon-coin-table {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.symbol-coin-table {
    color: gray;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 12px;
}

.name-coin-table {
    font-weight: bold;
}

.favorite-coin-table {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.favorite-coin-table:hover {
    cursor: pointer;
}

.positive-number {
    color: rgb(14, 203, 129);
    font-weight: bold;
}

.negative-number {
    color: rgb(246, 70, 93);
}

#warning-favorites-coins {
    visibility: collapse;
}

#sub-menu-details {
    background-color: #20304c;
    border-radius: 4px;
    padding: 10px;
}

.sub-menu-content {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

#details-coin-img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

#details-coin-current-price {
    margin-right: 10px;
}

.content-details {
    background-color: #20304c !important;
    color: white;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
}

#coin-converter {
    background-color: #20304c;
    border-radius: 4px;
    justify-content: center;
}

#content-converter {
    margin-top: 15px;
}

#details-coins-news {
    background-color: #20304c;
    border-radius: 4px;
    justify-content: center;
    padding: 10px;
}

#table-details-news th {
    color: white;
}

#btn-search {
    width: 35px;
    height: 35px;
    margin-top: 2px;
    margin-left: 10px;
    cursor: pointer;
}

#warning-details-coin {
    visibility: collapse;
}

#img-favorite-details {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}