.icon-coin-table {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.symbol-coin-table {
    color: gray;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 12px;
}

.name-coin-table {
    font-weight: bold;
}

.favorite-coin-table {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.favorite-coin-table:hover {
    cursor: pointer;
}

.positive-number {
    color: rgb(14, 203, 129);
}

.negative-number {
    color: rgb(246, 70, 93);
}